#indexBody {
  color: black;
}
#aboutBody {
background-color: black;
}
.collaborators {
height: 50px;
  width: 50px;
}
.carouselContent {
  font-size:38px;
  color: white;
}
.paragraphIndex {
  font-size: 16px;
  color: blue;
}
.top {
  font-size: 20px;
  background-color: black;
}

header {
  width: 100%;
  height: 50px;
  color: blue;
  text-align: center;
}

.about {
  font-size: 20px;
  border: 1px;
}

.partners {
  width: 400px;
  height: 200px;
}

.written {
  background-image: url(picha/written.jpg);
  background-repeat: no-repeat;
  padding-bottom: 35%
}

footer {
  text-align: right;
  background-color: black;
}


/* The Overlay (background) */

.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: absolute;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: black;
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}


/* Position the content inside the overlay */

.overlay-content {
  position: relative;
  top: 25%;
  /* 25% from the top */
  width: 100%;
  /* 100% width */
  text-align: center;
  /* Centered text/links */
  margin-top: 30px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */
}


/* The navigation links inside the overlay */

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 26px;
  color: grey;
  display: block;
  /* Display block instead of inline */
  transition: 0.3s;
  /* Transition effects on hover (color) */
}


/* When you mouse over the navigation links, change their color */

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}


/* Position the close button (top right corner) */

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}


/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

#open {
  cursor: pointer;
}

.factoryImg {
  width: 595px;
  height: 300px;
}

#glyphiconMenu {
  font-size: 28px;
  color: MidnightBlue;
}

#stars {
  float: right;
  color: blue;
}

.logoImg {
  float: right;
}

.reviews {
  float: right;
  color: blue;
}

h2 {
  font-size: 24px;
  font-family: Roboto;
}

h3 {
  color: blue;
}

p {
  font-size: 20px;
  color: blue;
}

button {
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
}

#twitter-icon {
  margin-right: 20px;
  font-size: 24px;
}

#facebook-icon {
  margin-right: 20px;
}

#github-icon {
  margin-right: 20px;
}

.jumbotron {
  background-color: grey;
}

.footerImage {
  width: 509px;
  height: 350px;
}

#aboutus {
  text-align: center;
}

.carouselContent {
  color: blue;
  padding-bottom: 200px;
}


/* Three columns side by side */

.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */

@media (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}


/* Add some shadows to create a card effect */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


/* Some left and right padding inside the container */

.container {
  padding: 0 16px;
}


/* Clear floats */

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button:hover {
  background-color: #555;
}

.imageSize {
  width: 400px;
  height: 350px;
}


/* Dropdown Button */

.dropbtn {
  background-color: blue;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
  position: relative;
  display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
  z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
  background-color: grey;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
  display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
  background-color: blue;
}

.form-group {
  padding-top: 30px;
}

#signupHeader {
  text-align: center;
}

#signupBody {
  background-image: url("picha/suitslogo.jpg");
  background-size: cover;
}

#accBody {
  background-color: grey;
}

.accImgBorder {
  -webkit-transfrom: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.accImgBorder:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

ul li{
list-style: none;
}
.hd1{
  font-size: 15px;
  background-color: #000000;
}
#facebook-icon {
  margin-right: 20px;
}

#github-icon {
  margin-right: 20px;
}

.jumbotron {
  background-color: grey;
}

.footerImage {
  width: 509px;
  height: 350px;
}

#aboutus {
  text-align: center;
}

.carouselContent {
  color: blue;
  padding-bottom: 200px;
}


/* Three columns side by side */

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}


/* Display the columns below each other instead of side by side on small screens */

@media (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}


/* Add some shadows to create a card effect */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


/* Some left and right padding inside the container */

.container {
  padding: 0 16px;
}


/* Clear floats */

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button:hover {
  background-color: #555;
}

.imageSize {
  width: 400px;
  height: 350px;
}


/* Dropdown Button */

.dropbtn {
  background-color: blue;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
  position: relative;
  display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
  z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
  background-color: grey;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
  display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
  background-color: blue;
}

.form-group {
  padding-top: 30px;
}

#signupHeader {
  text-align: center;
}

#signupBody {
  background-image: url("picha/suitslogo.jpg");
  background-size: cover;
}

#accBody {
  background-color: grey;
}

.accImgBorder {
  -webkit-transfrom: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.accImgBorder:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
