.top{
  font-size: 20px;
  background-color: black;
}
.menu{
  opacity: 0.5;
  height: 100%;
  position: fixed;
  top:100px;
  padding-left: 20px;
  text-align: left;
  background-color: grey;
  font-size: 30px;
  font-family: sans-serif;
}
#slide{
  list-style: none;
  display: block;
  background-color: black;
}
#slide:hover{
  background-color: white;
}
header{
  width: 100%;
  height: 50px;
  color: white;
  background-color: #262626;
  text-align: center;
}
.about{
  font-size: 20px;
  border: 1px;
}
#factory{
  float: right;
}
#measure{
  font-size: 20px;
}
.written{
  background-image: url(picha/written.jpg);
  background-repeat: no-repeat;
  padding-bottom: 35%
}
.footer1{
  text-align: right;
  background-color: white;
}
#measure1{
  background-color: #F0F0F0
}

  
   
   